<h2>Данные категории</h2>
<table>
    <tr>
        <th>Название категории</th>
        <td><%=category.name%></td>
    </tr>
    <%if(category.parentCtegory){%>
    <tr>
        <th>Родитель</th>
        <td><%=category.parentCtegory.name%></td>
    <tr>
    <%}%>
</table>

<h2>Атрибуты категории</h2>
<table>
    <tr>
        <th>Название атрибта</th>
        <th>Тип атрибута</th>
    </tr>
    <%for(let i =0;i<category.attributes.length;i++){%>
        <tr>
            <td>
                <%=category.attributes[i].name%>
            </td>
            <td>
                <%=category.attributes[i].type%>
            </td>
        </tr>
    <%}%>
</table>

<h2>Товары категории</h2>
<table>
    <tr>
        <th>Название товара</th>
        <th>Цена товара</th>
    </tr>
    <%for(let i =0;i<category.goodsOfCategory.length;i++){%>
    <tr>
        <td>
            <%=category.goodsOfCategory[i].name%>
        </td>
        <td>
            <%=category.goodsOfCategory[i].price%>
        </td>
    </tr>
    <%}%>
</table>